.naver{
    background: #1d0e27;
}
.bemvindo h1{
    font-size: 10px;
}
.container_not{
    display: flex;
    padding: 2%;
    background: rgb(244, 245, 242);
}
.not{

    width: 60%;
    padding: 2% 2% 2% 2%;
    margin: 2% 0% 2% 2%;
    background: rgb(255, 255, 255);
}
.not h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 29px;
}
.not h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}
.not p{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 30px 0;
}
.not li{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 30px 0;
    list-style-type: none;
}
.outras_not{
    background: rgb(255, 255, 255);

    width: 30%;
    padding: 2% 2% 2% 2%;
    margin: 2% 0% 2% 2%;
}
.outras_not h2{
    
    background: #1d0e27;
    color: white;
    padding: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.outras_not .foto{
    width: 80%;
    margin-right: 10px;
}

.outras_not img{
    width: 100%
}


.outras_not .p h3{
    margin: 20px 0px 0 0 ;
}
.outras_not article{
    display: flex;/*Todos os elementos colocados no Article ficaram de lado*/
    margin-bottom: 60px;
}

.outras_not a{
    text-decoration: none;
    color: black;
}
.outras_not a:hover{
    text-decoration: underline;
}
/*COMETARIO*/
.comentario{
    margin-top: 100px;
}
.comentario hr{
    background: #FFC300 ;
    height: 3px;
    border: 0;
}
.comentario h4{
    margin-top:60px;
    font-size: 17px;
}
#nome,#email,#text{
    display: block;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    margin-top: 15px;
}
#btn{
    margin-top: 40px;
    width: 140px;
    padding: 15px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    background: #FFC300;
    outline: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

/*Footer*/
footer{
    padding: 50px;
    color: white;
    background: #1d0e27 ;
}
footer p{
    text-align: center;
    font-size: 16px;
    margin-top: 14px;
}


