.naver{
    padding: 1%;
    background-image: linear-gradient(rgba(39, 1, 50, 0.589),rgba(39, 1, 50, 0.589)),url(img/home.png);
    background-position: center;
    background-size: cover;
    
}
.row{
    overflow: auto;
    padding: 5%;
}

.col-2{
    width: 50%;
    overflow: auto;
    float: left;
}

.col-1-3{
    width: 32%;
}



footer{
    padding: 0;
    color: white;
    background: #1d0e27 ;
    overflow: auto;
}
footer p{
    text-align: center;
    font-size: 16px;
    margin-top: 14px;
}
.footer-text{
    padding: 3% 0;
    width: 79%;
    float: left;
}
.footer-social{
    margin: 1% 0;
    padding: 3% 0;
    width: 21%;
    float: left;
}
.footer-social li{
   display: inline;
   text-align: center;
}
.footer-social i{
    font-size: 30px;
    margin-left: 10px;
}
.footer-social-link{
    transition: color .5s linear;
    display: inline-block;
    color: white;
    padding: 10px;
}
.footer-social-link:hover{
    color:#FFC300 ;
}
